@import "tailwindcss";
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


html {
  font-family: 'Outfit', sans-serif;
}

@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "custom-theme";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(0.35 0.0518 212.29);
  --color-base-200: oklch(35% 0.03 240);
  --color-base-300: oklch(50% 0.04 540);
  --color-base-content: oklch(0.56 0.1603 240);
  --color-primary: oklch(0.73 0.1381 221.29);
  --color-primary-content: oklch(0.87 0.0567 220);
  --color-secondary: oklch(0.87 0.0715 210.18);
  --color-secondary-content: oklch(0.35 0.0518 212.29);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

.bg-code {
  background-color: oklch(27.81% 0.0117 248.25);
  border:1px solid oklch(89.56% 0.0518 66.18);
}


