---
import Layout from '../layouts/Layout.astro';

const randomTextToBackHome = [
  "Oops! It looks like you've stumbled upon a page that doesn't exist. Maybe it's lost in cyberspace? Try heading back to the homepage!",
  'Hmm... this page seems to have gone on an unexpected vacation. While we track it down, why not go back to the home page?',
  "Well, this is awkward... The page you're looking for is nowhere to be found. But don't worry, you can always start fresh from the homepage!",
  "Looks like you've taken a wrong turn on the internet highway. No worries—just hit the button below to navigate back home safely!",
  "Uh-oh! It seems like this page has vanished into the void. Don't worry, though—click below and let's get you back on track!",
];

// Pick a random message
const randomMessage =
  randomTextToBackHome[Math.floor(Math.random() * randomTextToBackHome.length)];
---

<Layout title="Ngrhadi" displayHeaderAndFooter={false}>
  <div
    class="flex flex-col w-screen h-screen justify-center items-center text-center px-2"
  >
    <div class="text-8xl font-bold text-primary flex"
      >4<svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-24"
      >
        <path
          d="M15.75 8.25a.75.75 0 0 1 .75.75c0 1.12-.492 2.126-1.27 2.812a.75.75 0 1 1-.992-1.124A2.243 2.243 0 0 0 15 9a.75.75 0 0 1 .75-.75Z"
        ></path>
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM4.575 15.6a8.25 8.25 0 0 0 9.348 4.425 1.966 1.966 0 0 0-1.84-1.275.983.983 0 0 1-.97-.822l-.073-.437c-.094-.565.25-1.11.8-1.267l.99-.282c.427-.123.783-.418.982-.816l.036-.073a1.453 1.453 0 0 1 2.328-.377L16.5 15h.628a2.25 2.25 0 0 1 1.983 1.186 8.25 8.25 0 0 0-6.345-12.4c.044.262.18.503.389.676l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.575 15.6Z"
          clip-rule="evenodd"></path>
      </svg>
      4</div
    >
    <div class="mt-4 text-lg text-gray-600 max-w-lg">
      {randomMessage}
    </div>
    <a
      href="/"
      class="mt-6 btn btn-primary text-secondary-content hover:underline text-lg"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6 mr-2"
      >
        <path
          d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z"
        ></path>
        <path
          d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z"
        ></path>
      </svg>
      Back to Home</a
    >
  </div>
</Layout>
